# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [12]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [14]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [15]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [23]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
print('This is my first name: ', name)

print('Full Name:', name, end=' Apol')

This is my first name:  Brandon
Full Name: Brandon Apol

##### String Concatenation

In [27]:
first_name = 'John'
last_name = 'Smith'
full_name = first_name + " " + last_name

print(full_name)

full_name += ', Jr'
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [28]:
number = '32'

change_type_num = int(number)

print(number)
print(change_type_num)

32
32

##### input()

In [4]:
# Input will always return a string

# name = input('What is your name?')
# print('Nice to meet you, ' + name)

age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

What is your age?: 78
83

##### format()

In [6]:
age = input('What is your age? ')

result_string = 'you are {} {} and you are getting wiser'.format(age, name)
print(result_string)

result_again = f"{age} is a great time in life !!!"
print(result_again)

What is your age? 20
you are 20 Kyle and you are getting wiser
20 is a great time in life !!!

##### Old Way (python 2)

In [7]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 20 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [11]:
color = input('What color is your car?')
year = input('What year is your car?')
make = input('What make is your car?')
model = input('What model is your car?')

car_result = "That's so cool that you drive a {} {} {} {}!".format(color, year, make, model)
print(car_result)

What color is your car?silver
What year is your car?2018
What make is your car?Mazda
What model is your car?Mazda3
That's so cool that you drive a silver 2018 Mazda Mazda3!

### If Statements

In [22]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0
# if num1 == num2:
#     print('Equal Values')
# else:
#     print('Not Equal')
    
if num2 >= num1 or num3 > 0:
    print("This ran")
else:
    print('Equal values')

This ran

##### 'is' keyword

In [23]:
# The 'is' keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print('This is the exact number/object')

This is the exact number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Kylej\AppData\Local\Temp\ipykernel_1632\4157906614.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [24]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if 'Frodo' in char_name:
    print('The ring bearer')

The ring bearer

##### 'not in' keyword'

In [25]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
pet = input('What is the name of your pet?')

if 'p' in pet:
    print('The letter p is in this input!')
if 'p' not in pet:
    print('Your pet must suc')

## Using 'and'/'or' with If Statements

In [1]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
#     If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True

### Elif Statements

In [5]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is smith.')
elif first_name == 'Kyle':
    print('The name is Kyle')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Gerald
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [6]:
# Syntax:
# for keyword, counter in condition

name = 'Kyle Watson'

for letter in name:
    print(letter)

K
y
l
e

W
a
t
s
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [8]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [9]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [10]:
for i in name:
    pass

##### Double For Loops

In [13]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [14]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [1]:
game_over = False

while True:
    print('Infinite Loop')
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [15]:
num = 0 

while num < 5:
    print('\n While loop iteration: ', str(num))
    
    for i in range(2):
        print('For loop iteration: ', str(i))
        
    num += 1

 While loop iteration:  0
For loop iteration:  0
For loop iteration:  1

 While loop iteration:  1
For loop iteration:  0
For loop iteration:  1

 While loop iteration:  2
For loop iteration:  0
For loop iteration:  1

 While loop iteration:  3
For loop iteration:  0
For loop iteration:  1

 While loop iteration:  4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [3]:
# range(start, stop, step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [4]:
name = 'Max'

length = len(name)
print(length)

3

##### help()

In [6]:
# Use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [12]:
# Check a variable to find out what object family (or data type) it belongs to
# jisinstance(var, type)

num = 4
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4 is an int

##### abs()

In [13]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [25]:
# Use this to log out graceful and useful error messages
# Does not stop the Program!

try:
    input_num = int(input('Guess a number'))
    print('Your number is '+ str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a number75
Your number is 75

### Lists

##### Declaring Lists

In [44]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [35]:
# list_name[start: stop: step]

# Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[::2])

# print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Max', 'Kathy', 'Nate']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [50]:
names.append('Kyle')
print(names)

['Max', 'Cindy', 'Bob', 'Nate', 'Kyle', 'Kyle', 'Kyle', 'Kyle']

##### .insert()

In [37]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Kyle']

##### .pop()

In [45]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Bob', 'Nate']


##### .remove()

In [51]:
# Value to be removed rather than index
# names.remove('bob')
# print(names)

# remove multiple kyles from list
while 'Kyle' in names:
    names.remove('Kyle')
print(names)

['Max', 'Cindy', 'Bob', 'Nate']

##### del()

In [52]:
# Goes by index, rather than value
# Be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Bob', 'Nate']

##### Concatenating Two Lists

In [56]:
# WILL append two lists together, will NOT add the values!!

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [57]:
# Lists can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [60]:
# Two ways to loop through a list! One is by index; the other is by using the 'in' keyword

# By index

for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [27]:
num = 0

while num < 1000000:
    cubed_num = num * num * num
    print(cubed_num)
    num += 1
    if cubed_num == 1000:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [71]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num = 0

for i in range(100):
    num += 1
    if num == 2:
        print(num)
    elif num < 2:
        continue
    elif num % 2 == 0:
        continue
    else:
        print(num)

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [81]:
user_age = input("What is your age?")
if int(user_age) <= 17:
    print('kids')
elif int(user_age) <= 65:
    print('adults')
else:
    print('seniors')

What is your age?90
seniors